<!-- snippets/onboarding-featured-products.liquid -->
{% for i in (1..4) %}
 <div class="grid__item three-twelfths small--one-whole medium--one-half">
   <div class="product_item">
     <a href="/admin/products">
       <div class="product_image">
         <span class="product_overlay"></span>
         {% capture current %}{% cycle 1, 2, 3, 4 %}{% endcapture %}
         {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
       </div>
     </a>
     <div class="product_desc">
       <h3>{{ 'homepage.onboarding.product_title' | t }}</h3>
       <h4>$19.99</h4>
     </div>  
   </div>
 </div>
{% endfor %}