<div class="header_height"></div>

<div class="breadcrumb_section">
  <div class="container">
    <div class="grid">
      <div class="grid__item one-whole">
        <div class="breadcrumb_item">
          {% include 'breadcrumb' %}
        </div>
      </div>
    </div>
  </div>
</div>



<div class="content">

  <div id="about-section">
    <div class="container">
      <div class="grid">
        <div class="grid__item one-whole">
          <div class="section_title">
            <h1>{{ page.title }}</h1>
          </div>
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</div>